html {
  background-color: #0c101e;
  color: white;
}

body {
  font-family: "Nanum Pen Script", cursive;
}

@media (max-width: 1000px) {
  html {
    font-size: 70% !important;
  }

  input::placeholder {
    font-size: 24px !important;
    color: red;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  */ input::placeholder {
    font-size: 16px !important;
    color: red;
  }
}

header * {
  display: flex;
  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

nav::after {
  content: "";
  flex-grow: 1;
  order: 0;
}

a.flex-end {
  order: 1;
}

input#messageInput {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 35%;
  font-family: "Nanum Pen Script";
  background-color: inherit;
  border: none;
  padding-left: 30%;
  padding-right: 30%;
  color: white;
  font-size: 48px;
  height: 25%;
}

input::placeholder {
  color: gray;
  font-size: 1.8em;
  text-align: center;
  width: 100%;
}

input:focus {
  outline: none;
}
